.wrapper {
  & > .container {
    width: v(container-width);
    max-width: 1320px;
    margin: 0 auto;
    padding: v(container-padding);

    @include breakpoint($medium-max) {
      padding: v(container-padding--small);
    }

    & > .content {
      max-width: 100%;
    }
  }
}
